<!-- <form class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Department</h3>
            </div>
        <div class="panel-body">
                <label for="organisation" class="col-lg-2 control-label">Select Organisation</label>
                  <div class="col-lg-10">
                     <select class="form-control" id="organisation" placeholder="Select your Organisation" ng-model="vm.adddepartment.selectedOrganisation"
                     ng-options="organisation.name for organisation in vm.organisations">
                     </select>
                  </div>
            </div>
            <div class="panel-body">
                 <label for="department" class="col-lg-2 control-label">Select Department</label>
                     <div class="col-lg-10">
                        <select class="form-control" id="department" ng-model="vm.adddepartment.selectedDepartment"
                        ng-options="department.name for department in vm.departments">
                        </select>
                      </div>
            </div>
             <div class="panel-body">
                    <label for="designation" class="col-lg-2 control-label">Add Designation</label>
                     <div class="col-lg-10">
                        <input type="text" class="form-control" id="designation" placeholder="Add your designation" ng-model="vm.adddepartment.designation">
                    </div>
             </div>

   			  <div class="panel-body">
                     <div class="col-lg-12">
       				     <button type="submit" class="btn btn-primary">Add Designation</button>
        		 	     <button type="reset" class="btn btn-default">Clear</button>
      			     </div>
  			  </div>
         </div>
      </form>



 -->