
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFileLogLabel" data-translate="eofficeApp.fileLog.home.createOrEditLabel">Create or edit a File Log</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fileLog.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fileLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.fileNo" for="field_fileNo">File No</label>
            <input type="text" class="form-control" name="fileNo" id="field_fileNo"
                    ng-model="vm.fileLog.fileNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.fileLog.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.markFrom" for="field_markFrom">Mark From</label>
            <input type="text" class="form-control" name="markFrom" id="field_markFrom"
                    ng-model="vm.fileLog.markFrom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.markTo" for="field_markTo">Mark To</label>
            <input type="text" class="form-control" name="markTo" id="field_markTo"
                    ng-model="vm.fileLog.markTo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.markDate" for="field_markDate">Mark Date</label>
                <div class="input-group">
                    <input id="field_markDate" type="text" class="form-control" name="markDate" datetime-picker="{{dateformat}}" ng-model="vm.fileLog.markDate" is-open="vm.datePickerOpenStatus.markDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('markDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.fileLog.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.fileLog.comment"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
